<h1><%= params[:nickname] %></h1>

<h2>Track Ruby</h2>

<% percentage = @ruby_badges.count.fdiv(RUBY_BADGES_COUNT) * 100 %>

<% if percentage > 70 %>
  <span style="color: green; font-size: 32px"><%= percentage.round %>%</span>
<% else %>
  <span style="color: red; font-size: 32px"><%= percentage.round %>%</span>
<% end %>

<ul>
  <% @ruby_badges.each do |badge| %>
    <li><%= badge.title %></li>
  <% end %>
</ul>

<h2>Track Web</h2>

<% percentage = @web_badges.count.fdiv(WEB_BADGES_COUNT) * 100 %>

<% if percentage > 70 %>
  <span style="color: green; font-size: 32px"><%= percentage.round %>%</span>
<% else %>
  <span style="color: red; font-size: 32px"><%= percentage.round %>%</span>
<% end %>

<ul>
  <% @web_badges.each do |badge| %>
    <li><%= badge.title %></li>
  <% end %>
</ul>

<h2>Track Python</h2>

<% percentage = @python_badges.count.fdiv(PYTHON_BADGES_COUNT) * 100 %>

<% if percentage > 70 %>
  <span style="color: green; font-size: 32px"><%= percentage.round %>%</span>
<% else %>
  <span style="color: red; font-size: 32px"><%= percentage.round %>%</span>
<% end %>

<ul>
  <% @python_badges.each do |badge| %>
    <li><%= badge.title %></li>
  <% end %>
</ul>